*{
  font-family: 'Hahmlet', serif;
}
.name{
  margin-top:-30px;
}
.img1{

}
.product{
  font-weight: 800;
}
.price{
  font-weight: 800;
  display: inline;
}
.won{
  display: inline;
  font-size: large;
  font-weight: bold;
}
.explain1{
}
.explain2{
}
.all_price{
  text-align: right;
}
.number{
  font-size: large;
  font-weight: 800;
}
.bc{
  margin-top: 35px;
}
.buy{
  width:150px;
}
.cart{
  width: 400px;
}
#private{
  font-size: x-large;
  font-weight: 800;
}
.form-control{
  margin-left: 20px;
}
#one_line{
  margin-top: 150px;
}
